@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../normalize.css';


body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}  

section {
    color: black;
    font-size: 1.4em;
    width: 50px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#icons {
    font-size: 0.7em;
    height: 30%;
    
}

#icons ul {
    list-style: none;
}

.adapter {
    padding: 10px;
    color: black
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/alex-holyoake-235022-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-box {
    width: 90%;
    box-sizing: border-box;
    padding: 15px 0;
    height: 80%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.column-1 {
    color: black;
    width: 35%;  
    height: 60%;  
    display: flex;
    align-items: flex-end;
}

.left {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.column-1 h1 {
    padding: 0;
    margin: 0;
    letter-spacing: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 5em; 
}

.column-1 h2 {
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    font-size: 2em;
}

.column-1 button {
    margin: 0;
    text-transform: capitalize;
    padding: 5px 0;
    width: 180px;
    background-color: transparent;
    border:  2px solid black;
}

.numerize {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.numerize p {
    padding: 0 5px;
    font-size: 0.8em;
}

.numerize span {
    display: block;
    border: 1px solid black;
    width: 100px;
    height: 0;
}

.top-text {
    text-transform: uppercase;
    font-size: 0.85em;
    display: flex;
    justify-content: flex-end;
}

.aligner {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.right {
    height: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.column-2 {
    color: black;
    width: 35%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-2 h3 {
    text-transform: uppercase;
    font-size: 3.5em;
}

.column-2 span {
    /* padding: 2px; */
    width: 20px;
    border-bottom: 1px solid black;
}

.navbar {
    height: 10%;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}